// -----------------------------------------------------------------------------
// This file contains very basic styles.
// -----------------------------------------------------------------------------

/**
 * Set up a decent box model on the root element
 */
html {
  box-sizing: border-box;
}

/**
.carousel-inner>.item>a>img, .carousel-inner>.item>img {
  width: 100%;
  height: 70rem !important;
}
*/

/**
 * Make all elements from the DOM inherit from the parent box-sizing
 * Since `*` has a specificity of 0, it does not override the `html` value
 * making all elements inheriting from the root box-sizing value
 * See: https://css-tricks.com/inheriting-box-sizing-probably-slightly-better-best-practice/
 */
*, *::before, *::after {
  box-sizing: inherit;
}

/**
 * Basic styles for links
 */
a {
//  color: $brand-color;
  text-decoration: none;

  @include on-event {
   // color: $text-color;
    text-decoration: underline;
  }
}

/* Below styling is by Fred and Mostafa */
/* styling for navigation */
.mynav{
    background: $nav-bg-color;
    padding-top: 5px;
}

.nav-pills > li > a {
    color: #ffffff;
}

.nav-pills > li > a:hover {
    background: $nav-bg-hover;
    color: $nav-active-color;
}

.nav-pills > li.active > a {
    background-color: $nav-active-bg-color;
    color: $nav-active-color;
}

.nav-pills > li.active:hover > a {
    background-color: $nav-bg-hover;
    color: $nav-active-color;
}

.row-footer {
    background: $nav-bg-color;
    color: $nav-active-color;
}
